@import 'nullstyle.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shizuru&family=Titillium+Web&display=swap');

body{
  display: flex;
  flex-direction: column;
  width: 100%; 
  font-family: 'Titillium Web', sans-serif;
}





